@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Sora", serif;
    font-optical-sizing: auto;
}

.hero-cat-img {
    background-image: url("../img/cat-big.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.t-shirt {
    @apply w-[22.375rem] h-[21.25rem] rounded-[0.527rem] px-[1.687rem] py-[2.6875rem] bg-[#F9DF8A] mb-6;
    background-image: url("../img/cute-pet-small.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 11.25rem auto;
}

.gradient-cart-1 {
    @apply w-[22.375rem] h-[21.25rem] rounded-[0.527rem] mb-6;
    background: linear-gradient(to right bottom, rgb(247, 204, 251), rgb(175, 210, 253) 80%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graident-inner-card-1 {
    @apply px-[1.687rem] py-[2.6875rem] w-[100%] h-[100%];
    background-image: url("../img/cute-dog-mid.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 13.25rem auto;
}

.gradient-cart-2 {
    @apply w-[22.375rem] h-[21.25rem] rounded-[0.527rem];
    background: linear-gradient(to right bottom, rgb(255, 249, 244), rgb(249, 223, 138) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graident-inner-card-2 {
    @apply px-[1.687rem] py-[2.6875rem] w-[100%] h-[100%];
    background-image: url("../img/cute-pet-small.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 13.25rem auto;
}