@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Sora", serif;
    font-optical-sizing: auto;
}

.hero-cat-img {
    background-image: url("../img/cat-big.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.t-shirt {
    @apply w-full h-[21.25rem] customScreen:h-full rounded-[0.527rem] px-[1.687rem] py-[2.6875rem] bg-[#F9DF8A] mb-6 customScreen:mb-0;
    background-image: url("../img/cute-pet-small.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 11.25rem auto;
}

.gradient-cart-1 {
    @apply w-full h-[21.25rem] rounded-[0.527rem] mb-6;
    background: linear-gradient(to right bottom, rgb(247, 204, 251), rgb(175, 210, 253) 80%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graident-inner-card-1 {
    @apply px-[1.687rem] py-[2.6875rem] w-[100%] h-[100%];
    background-image: url("../img/cute-dog-mid.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 13.25rem auto;
}

.gradient-cart-2 {
    @apply w-full h-[21.25rem] rounded-[0.527rem];
    background: linear-gradient(to right bottom, rgb(255, 249, 244), rgb(249, 223, 138) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graident-inner-card-2 {
    @apply px-[1.687rem] py-[2.6875rem] w-[100%] h-[100%];
    background-image: url("../img/cute-pet-small.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 13.25rem auto;
}

.subscribe {
    @apply relative w-[91%] customScreen:w-[82.5rem] customScreen:pl-[5.562rem] mx-auto flex flex-col customScreen:flex-row items-center customScreen:justify-start justify-center px-6 py-8 bg-[#FFF9F4] rounded-lg customScreen:rounded-2xl z-10 -mb-[70%];
}

.footer {
    @apply relative bg-[#FFDC26] bg-opacity-50 pt-[365px] pb-[57px];
}

@media (min-width: 490px) and (max-width: 1600px) {
    .subscribe {
        @apply -mb-[50%];
    }
}

@media (min-width: 660px) and (max-width: 1600px) {
    .subscribe {
        @apply -mb-[40%];
    }
}

@media (min-width: 850px) and (max-width: 1600px) {
    .subscribe {
        @apply -mb-[30%];
    }
}

@media (min-width: 1120px) {
    .subscribe {
        @apply -mb-[20%];
    }
}


@media (min-width: 1600px) {
    .t-shirt {
        background-size: 14rem auto;
    }

    .gradient-cart-1 {
        @apply h-[30rem] mb-0;

    }

    .graident-inner-card-1 {
        @apply flex flex-col items-start justify-center pl-[5.5rem];
        background-size: 26rem auto;
        background-position: bottom -30px right -10px;
    }

    .gradient-cart-2 {
        @apply h-[30rem] mb-0;
    }


    .graident-inner-card-2 {
        @apply px-[1.687rem] py-[2.6875rem] w-[100%] h-[100%];
        background-image: url("../img/cute-pet-small.png");
        background-position: bottom right -30px;
        background-repeat: no-repeat;
        background-size: 23rem auto;
    }

    .subscribe {
        @apply -mb-[15%];
    }

}